<!DOCTYPE html>

{% block htmltag %}
    <html>
{% endblock htmltag %}

<head>

    {% block title %}
        <title>Document</title> 
    {% endblock title %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'unus/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>

    <script src="{% static 'unus/app.js' %}"></script>

{% block head %}
{% endblock head %}    
</head>
{% block body %}
   <body>
    </body> 
{% endblock body %}
</html>
