{% extends 'unus/base.html' %}
{% block htmltag %}
    <html ng-app="unus">
{% endblock htmltag %}
{% block title %}
    <title>Comfy</title> 
{% endblock title %}
{% block body %}
<body style="background: #DDDDDD;" ng-controller="unusController">
    <br>
    <br>
    <div>
        <form ng-submit="add()">
            {% csrf_token %}
            <input type="text" placeholder="Teh Wae" ng-model="IndexInput">
            <button ng-click="saveData()" type="submit" > Submit </button>
        </form>
    </div>
     <div ng-repeat="item in unusList">
        <input type="checkbox" ng-model="item.done"><span ng-bind="item.name"></span>
     </div>
     <p>
         <button ng-click="remove()">Done</button>
     </p>

</body> 
{% endblock body %}