{% extends 'unus/base.html' %}
{% block htmltag %}
    <html ng-app="unus">
{% endblock htmltag %}
{% block title %}
    <title>Comfy</title> 
{% endblock title %}
{% block body %}
<body style="background: #DDDDDD;" ng-controller="unusController">
    <br>
    <br>
    <div>
        <form ng-submit="add()">
            <input type="text" placeholder="Teh Wae" ng-model="IndexInput">
            <input value="Submit" type="submit" hidden>
        </form>
    </div>
     <div ng-repeat="item in unusList">
        <span ng-bind="item.name"></span>
     </div>

</body> 
{% endblock body %}